.banner {
	background-color: black;

}

.placeHolder {
	width: 100%;
	height: 200px;
}

.navbar-static-top {
	background-color: gray;
}

.carousel{

	background-color: blue;
}

.footer{
	background-color: black;
}